include gcMapExplorer/gui/UIs/*.ui
include gcMapExplorer/gui/icons/cmaps/*.ico
include gcMapExplorer/gui/icons/*.*

include gcMapExplorer/lib/*.pyx

exclude gcMapExplorer/lib/_*.c
include gcMapExplorer/lib/*SRC.c
include gcMapExplorer/lib/*SRC.h

recursive-exclude test *.*
global-exclude *.localhistory
